<h1>Excel Analysis Task 10-19 - Emily Smith</h1>

In [4]:
import numpy as np
import pandas as pd
education_df = pd.read_csv("Excel Analysis Task 10-19.csv")
education_df.head()

,FIPST,STABR,LEAID,LEA_NAME,MSTREET_1,MSTREET_2,MSTREET_3,MCITY,MSTATE,MZIP,...,LEA_TYPE_TEXT,All Students - American Indian/Alaska Native,All Students - Asian,All Students - Black,All Students - Hispanic,All Students - Two or More Races,All Students - Hawaiian Native / Pacific Islander,All Students - White,All Students,Grant Amount
0,1.0,AL,100002.0,Alabama Youth Services,P O Box 66,NaN,NaN,Mt Meigs,AL,36057.0,...,Regular public school district that is not a c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,AL,100005.0,Albertville City,107 West Main St,NaN,NaN,Albertville,AL,35950.0,...,Regular public school district that is not a c...,16.0,25.0,174.0,2546.0,133.0,5.0,2548.0,5447.0,NaN
2,1.0,AL,100006.0,Marshall County,12380 US Highway 431 S,NaN,NaN,Guntersville,AL,35976.0,...,Regular public school district that is not a c...,28.0,14.0,61.0,1211.0,59.0,3.0,4311.0,5687.0,NaN
3,1.0,AL,100007.0,Hoover City,2810 Metropolitan Way,NaN,NaN,Hoover,AL,35243.0,...,Regular public school district that is not a c...,13.0,923.0,3440.0,1081.0,570.0,8.0,7903.0,13938.0,NaN
4,1.0,AL,100008.0,Madison City,211 Celtic Drive,NaN,NaN,Madison,AL,35758.0,...,Regular public school district that is not a c...,62.0,902.0,2127.0,534.0,449.0,29.0,6337.0,10440.0,NaN

<h3>Step 1: Calculate the percentage of students in each districts that are Hispanic</h3>

In [50]:
def percent_hispanic(type_text, his, tot):
    n = len(type_text)
    for i in range(n):
        if type_text[i] == "Regular public school district that is not a component of a supervisory union":
            percent = his/tot
    return(percent)
 
education_df["percent hispanic"] = percent_hispanic(education_df["LEA_TYPE_TEXT"], education_df["All Students - Hispanic"], 
                                         education_df["All Students"])

education_df.head()
#do an "if-than" statement --> if public district print hispanic students/total students (for loop?)

,FIPST,STABR,LEAID,LEA_NAME,MSTREET_1,MSTREET_2,MSTREET_3,MCITY,MSTATE,MZIP,...,All Students - American Indian/Alaska Native,All Students - Asian,All Students - Black,All Students - Hispanic,All Students - Two or More Races,All Students - Hawaiian Native / Pacific Islander,All Students - White,All Students,Grant Amount,percent hispanic
0,1.0,AL,100002.0,Alabama Youth Services,P O Box 66,NaN,NaN,Mt Meigs,AL,36057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,AL,100005.0,Albertville City,107 West Main St,NaN,NaN,Albertville,AL,35950.0,...,16.0,25.0,174.0,2546.0,133.0,5.0,2548.0,5447.0,NaN,0.467413
2,1.0,AL,100006.0,Marshall County,12380 US Highway 431 S,NaN,NaN,Guntersville,AL,35976.0,...,28.0,14.0,61.0,1211.0,59.0,3.0,4311.0,5687.0,NaN,0.212942
3,1.0,AL,100007.0,Hoover City,2810 Metropolitan Way,NaN,NaN,Hoover,AL,35243.0,...,13.0,923.0,3440.0,1081.0,570.0,8.0,7903.0,13938.0,NaN,0.077558
4,1.0,AL,100008.0,Madison City,211 Celtic Drive,NaN,NaN,Madison,AL,35758.0,...,62.0,902.0,2127.0,534.0,449.0,29.0,6337.0,10440.0,NaN,0.051149

<h3>Step 2: Identify the districts where >= 50 percent of the students are Hispanic</h3>

In [ ]:
#do an "if-than" statement --> if >= 50 percent print name of district (for loop?)

<h3>Step 3: Identify the districts that receive grants of > $100,000</h3>

In [ ]:
#do a for loop --> for all districts with > $100,00, print name of district

<h3>Step 4: Provide a summary that shows the number of LEAs in each of the blue cells in the excel document.</h3>

In [ ]:
#combine first and third loops ?

<h3>Step 5: Add 2 or three sentences below the table to describe the findings, focusing on the districts with >= 50% Hispanic students.</h3>